__Data Science Tools and Ecosystem__

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. Scipy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. Scikit-Learn.
8. PyTorch   etc...;

|Data Science Tools |
|---|
|SAS|
|Apache Hadoop|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of well known data science tools
* How to provide comments in the cell

## Author
chethan reddy